* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #169ba2;
}

.card {
  width: 90%;
  max-width: 500px;
  background: linear-gradient(135deg, #134034, #2c2655);
  color: #fff;
  margin: 50px auto 0;
  border-radius: 25px;
  padding: 40px 30px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search input {
  border: none;
  outline: none;
  background: #8ec7be;
  color: #000000;
  padding: 10px 25px;
  height: 50px;
  border-radius: 50px;
  flex: 1;
  margin-right: 10px;
  font-size: 20px;
}

.search button {
  border: none;
  outline: none;
  background: #8ec7be;
  color: #000000;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  cursor: pointer;
}

.search button img {
  width: 24px;
}

.weather-icon {
  width: 120px;
  margin-top: 20px;
}

.weather h1 {
  font-size: 60px;
  font-weight: 500;
}

.weather h2 {
  font-size: 35px;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 50px;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
}

.col img {
  width: 60px;
  margin-right: 10px;
}

.humidity,
.wind {
  font-size: 30px;
  margin-top: 4px;
}

.weather {
  display: none;
}
.error {
  display: none;
  margin-left: 10px;
  margin-top: 10px;
  text-align: left;
  font-size: 20px;
}
